@font-face {
    font-family: 'Cinzel';
    src: url('./assets/fonts/cinzel/Cinzel-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel-Deco-Bold';
    src: url('./assets/fonts/cinzel/CinzelDecorative-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: style;
}

@font-face {
    font-family: 'Cinzel-Black';
    src: url('./assets/fonts/cinzel/Cinzel-Black.otf') format('opentype');
    font-weight: bold;
    font-style: style;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background: white;
    min-height: 100vh;
    /* overflow: hidden; */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5em;
    color: rgb(121, 7, 7);
    pointer-events: none;
    font-family: 'Cinzel', sans-serif;
}

.navigation a {
    text-decoration: none;
    color: rgb(121, 7, 7);
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-family: 'Cinzel-Black', sans-serif;
    font-size: 1.5em;
}

.navigation a:hover, .navigation a.active {
    background: rgb(121, 7, 7);
    color: white;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#text {
    position: absolute;
    font-size: 9rem;
    color: rgb(121, 7, 7);
    text-shadow: -2px -2px 0 #E0E0E0,
                 2px  2px 0 #9E9E9E,
                 7px  7px 0 rgba(0, 0, 0, 0.6);
    font-family: 'Cinzel-Black', sans-serif;
    text-transform: uppercase;
    line-height: 1;
    left: 50%; 
    transform: translateX(-50%);
    text-align: center;
    top: 25%;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#dragon-l {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #1d2626;
    padding: 100px;
    min-height: 100vh;
    z-index: 20;
}

.sec h2 {
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: white;
    font-weight: 300;
}